<!--<p>
  user works!
</p>-->

<!--adding buttons-->
<span *ngIf = "!isEdit" > Name: {{user.name}}, Email:{{user.email}} </span>
<span *ngIf = "isEdit" >Name: <input type="text" [(ngModel)] = "user.name"> Email: <input type="text" [(ngModel)] = "user.email"></span>
<span *ngIf = "isEdit" ><button (click) = "sendDelete()" >Cancel</button> </span>
<button (click) = "sendDelete()" >Delete</button> <button (click) = "toggleEdit()" >{{editButtonText}}</button>